body {
    background-color: #76D7C4 ;
}

.container {
 position: top;
 top: auto;
 left: auto;
 margin-left: -64.5px;
 margin-top: -85.5px;
}

.ghost {
 animation: float 3s ease-out infinite;
}

@keyframes float {
 50% {
    transform: translate(0, 20px);
 }
}
.shadowFrame {
 width: 130px;
 margin-top: 15px;
}
.shadow {
 animation: shrink 3s ease-out infinite;
 transform-origin: right right;
 ellipse {
   transform-origin: right right;
 }
}

@keyframes shrink {
 0% {
   width: 90%;
   margin: 0 5%;
 }
 50% {
   width: 60%;
   margin: 0 18%;
 }
 100% {
   width: 90%;
   margin: 0 5%;
 }
}
 }
 
 #title {
   text-align: center;
   color: #a61717;
 }
 
 p {
   color: #a61717;
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
 }
 
 #description {
   text-align: center;
 }
 
 li {
   line-height: 200%;
 }
 
 #name-label {
   color: #a61717;
   font-size: 24px;
   line-height: 60px;
   font-family: 'Montserrat', sans-serif;
 }
 
 #email-label {
   color: #a61717;
   font-size: 24px;
   line-height: 60px;
   font-family: 'Montserrat', sans-serif;
 }
 
 #number-label {
   color: #a61717;
   font-size: 24px;
   line-height: 60px;
   font-family: 'Montserrat', sans-serif;
 }
 
 #survey-form {
   margin: 0 auto;
 }
 
 .redtext {
   color: #a61717;
   font-size: 22px;
   font-family: 'Montserrat', sans-serif;
 }
 
 .survey {
   display: flex;
   justify-items: center;
 }
 
 h1 {
   font-family: 'Titillium Web', sans-serif;
   font-size: 56px;
 }
 
 .parent {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
 }
 
 .div1 {
   grid-area: 1 / 1 / 2 / 2;
 }
 
 .div2 {
   grid-area: 1 / 2 / 2 / 3;
 }
 
 .div3 {
   grid-area: 1 / 3 / 2 / 4;